<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NutriEasy</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Öğün fotoğrafını analiz edebilmek için kameraya erişim gerekir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Öğün fotoğrafını seçebilmek için fotoğraf arşivine erişim gerekir.</string>
</dict>
</plist>
